{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add city</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_task') }}">
        <!-- city name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="city_name" name="city_name" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="city_name">City Name</label>
            </div>
        </div>
        <!-- City Population -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="city_pop" name="city_pop" minlength="5" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="city_pop">City Population</label>
            </div>
        </div>
        <!-- City Famous For -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="city_fame" name="city_fame" minlength="5" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="city_fame">City Famous For</label>
            </div>
        </div>
        <!-- is capital -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="is_cap">
                        <input id="is_cap" name="is_cap" type="checkbox">
                        <span class="lever"></span>
                        Is Capital?
                    </label>
                </div>
            </div>
        </div>
        <!-- category id -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="category_id" name="category_id" class="validate" required>
                    <option value="" disabled selected>Choose Fantasy Realm</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_id">Fantasy Realm</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add City <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}